div#forums
{
	text-align: center;
	width: 50%;
}

div#allComment
{
	width: auto;
}

div.comment
{
	overflow: auto;
	margin: 0 auto;
	/*background-color: #FFFF00;*/
	width: 450px;
	margin-top: 25px;
}

div.com
{
	width: auto;
	margin-right: 100px;
}

div.name_n_date
{
	width: auto;
	margin-right: 100px;
}

span
{
	font: "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
	color: #FFF;
}

span.name
{
	font-size: 30px;
}

span.grade
{
	color: #000;
	position: relative;
	top: 5px;
	width: 60px;
}

span.scoreButton
{
	color: #000;
	position: relative;
	top: 15px;
	width: 60px;
}

div.rightcom
{
	border-top-right-radius: 9px; 
	border-bottom-right-radius: 9px; 
	background-color: #CDCDCD; 
	height: 70px;
	width: 50px;
	position: relative;
	margin-top: 0px;
	float: right;
}

div.leftcom
{
	border-top-left-radius: 9px; 
	border-bottom-left-radius: 9px; 
	background-color: #4D4D4D;
	width: 400px;
	height: 70px;
	overflow: auto;
	position: relative;
	margin-top: 0px;
	float: left;
}
