* {
	font-family: "centry goth", "微軟正黑體";
}

#headerBar {

	position: fixed;
	top: 0px;
	height: 50px;
	width: 100%;
	z-index: 10;	
}

#user {

	position: absolute;
	right: 10px;
	
}

#fb_link{

	position: absolute;
	right: 10px;
	height: 40px;
	width: 40px;
	border-radius: 10px;
	opacity: 0.5;
}

#fb_link:hover {

	cursor: pointer;
	opacity: 1.0;

}

#fb_link:active {

	padding-top: 1pt;
	padding-left: 1pt;

}
#custom {

	position: absolute;
	right: 0px;
	width: 20%;
	height: 100%;
}

#board {
	 position:absolute;
	 top: 0%;
	 margin:0px;
	 width: 78%;
	 height:100%;
	 z-index: 0;
	 overflow: scroll;
}

#right {
	position: absolute;
	background-image: url('../images/mainpage/right.png');
	background-repeat: repeat-y;
	width: 30%;
	right: 0;
	height: 100%;
	z-index: 0;
	-moz-background-size:contain;
	-webkit-background-size:contain;
	-o-background-size:contain;
	background-size:contain;	
}

#left {

	position: absolute;
	background-image: url('../images/mainpage/left.png');
	background-repeat: repeat-y;
	width: 30%;
	left: 0;
	height: 100%;
	z-index: 0;
	-moz-background-size:contain;
	-webkit-background-size:contain;
	-o-background-size:contain;
	background-size:contain;	
}


#clock {
	 position: absolute;
	 width:15%;
	 height:30%;
	 top:5%;
	 left:45%;
	 z-index:2;
}

#blackTriangle {
	position: absolute;
}

#grayTriangle {
	position: absolute;
	top: 25%;
	left: 15%;
}

#leftboard {
	 position:absolute;
	 width:35%;
	 height:100%;
	 left: 18%;
	 top: 8%;
	 z-index:1;
}

#rightboard {
	position: absolute;
	width:35%;
	height:100%;
	top:0%;
	right: 5%;
	z-index:1;
}

.absolute {
	position: absolute;
}

.blackBorder {
	margin-top: 50px;
	width: 200px;
	height: 200px;	
	z-index:2;
}

.grayBorder {
	margin-top: 50px;
	width: 200px;
	height: 200px;	
	z-index:2;
}

._title {
	position: relative;
	top: 25px;
	left: 35px;
	z-index:3;	
}

._content {
	position: relative;
	width: 125px;
	top: 50px;
	left: 35px;
	z-index:3;	

}

.p {
	color: #F1F2F2;
}

.n {
	color: #000000;
}

.link {
	text-decoration: underline;
}
.link:hover {

	cursor: pointer;

}

nav {

	position: fixed;
	left: -100%;
	top: 35%;
	height: 193px;
	width: 104%; 
	padding: 0px 0px 0px 0px;
	background-color: #9FA0A0;
	color: #222222;
	z-index: 5;
	opacity: 0.4;
}

nav:hover{

	opacity: 1.0;

}

.middle{
	color: #ffffff;
	position: absolute;
	right: 0px;
	top: 25%;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	font-size: 25pt;
	width:50px;
}

#black {

	position: relative;
	top: 13%;
	left: 10%;


}

#midPart {
	
	position: absolute;
	font-size: 18pt;
	top: 38%;
	left: 30%;
	width: 500px;

}

#aboutUs {

	text-decoration: none;

}

#home {

	float: right;
	text-decoration: none;

}

#white {

	position: absolute;
	top: 13%;
	right: 14%;

}

#regiter {

	position: fixed;
	top: 10px;
	right: 20px;
	width: 500px;
	height: 350px;

}
