#register {

	position: absolute;
	top: 18%;
	left: 30%;
	height: 300px;
	width: 500px;
	z-index: 5;
	background-color: #CACACA;
	border-radius: 10px;

}

#mask {

	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	z-index: 4;
	background-color: #000000;
	opacity: 0.7;
	visibility: visible;
}

#explain {
	position: absolute;
	top: 5%;
	left: 10%;
	font-size: 20pt;
}

#item {

	position: absolute;
	top: 20%;
	left: 5%;
	font-size: 14pt;

}

#button {

	position: absolute;
	top: 23%;
	left: 60%;

}

.button {

	border-radius: 15px;
	color: #ffffff;
	background-color: #333333;
	padding: 15px;
	margin-top: 10px;	
}

.button:hover {

	cursor: pointer;
	background-color: #ffffff;
	color: #333333;

}

.button:active {

	border: 1px solid #bbbbbb;

}

div#headpic
{
	text-align: center;
}

div#headpic img
{
	position: relative;

	height: 70px;
	width: 70px;

	margin: 0 auto; 

	border-radius: 50%;
}