#back
{
	height: 100%;
	width: 100%;
	z-index: -1;

	background: #000 url(../images/signup/signup_back.png) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}

#container
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 10%;
	left: 55%;
	
}

input
{
	height: 30px;
	width: 250px;

	border: 0px ;
	border-radius: 3px;
	background: #CCCCCC;
}

img
{
	height: 40px;
	width: 40px;

	border-radius: 10px;
}

p
{
	font: normal 40px "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
}

.icon {

	opacity: 0.5;

}

.icon:hover {

	cursor: pointer;
	opacity: 1.0;
	
}

.icon:active {

	padding-top: 1pt;
	padding-left: 1pt;

}
