#back
{
	height: 100%;
	width: 100%;
	z-index: -1;
	background: center center fixed no-repeat;
	background-image: url('../images/signup/signup_back.png');
	-moz-background-size: cover;
	background-size: cover;
}
#mark
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	left: 17%;
	
}
#container
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	left: 55%;
	
}
#signal
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	right: 15%;
	
}
#but
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 65%;
	left: 55%;
	
}


t
{
    font: normal 20px "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
}
p
{
	font: normal 60px "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
}

.icon {

	opacity: 0.5;

}

.icon:hover {

	cursor: pointer;
	opacity: 1.0;
	
}

.icon:active {

	border: solid 1px #000000;

}

.intro {

	width: 100px;
	height: 100px;

}
