#back
{
	height: 100%;
	width: 100%;
	z-index: -1;
	background: center center fixed no-repeat;
	background-image: url('../images/signup/signup_back.png');
	-moz-background-size: cover;
	background-size: cover;
}
#mark
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	left: 17%;
	
}
#container
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	left: 55%;
	
}
#signal
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 35%;
	right: 15%;
	
}
#but
{
	position: absolute;
	z-index: 1;

	width: auto;
	height: auto;

	top: 65%;
	left: 55%;
	
}


t
{
    font: normal 20px "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
}
p
{
	font: normal 60px "Century Gothic", Arial, Helvetica, Geneva, sans-serif;
}


.icon {

	opacity: 0.5;

}

.icon:hover {

	cursor: pointer;
	opacity: 1.0;
	
}

.icon:active {

	border: solid 1px #000000;

}

.intro {

	width: 100px;
	height: 100px;

}

.loader,
    .loader:before,
    .loader:after {
        background: #FFF;
        -webkit-animation: load1 1s infinite ease-in-out;
        animation: load1 1s infinite ease-in-out;
        width: 1em;
        height: 4em;
    }
    .loader:before,
    .loader:after {
        position: absolute;
        top: 0;
        content: '';
    }
    .loader:before {
        left: -1.5em;
    }
    .loader {
    	z-index: 2;
        text-indent: -9999em;
        margin: 8em auto;
        position: relative;
        font-size: 11px;
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
    .loader:after {
        left: 1.5em;
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    @-webkit-keyframes load1 {
        0%, 80%, 100% {
            box-shadow: 0 0 #FFF;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em #ffffff;
            height: 5em;
        }
    }
    @keyframes load1 {
        0%, 80%, 100% {
            box-shadow: 0 0 #FFF;
            height: 4em;
        }
        40% {
            box-shadow: 0 -2em #ffffff;
            height: 5em;
        }
    }